
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}


body {
 background-color: #554848;
 font-family: "Poppins", sans-serif;
 text-align: center;
}


h1 {
 font-size: 32px;
 margin: 60px 0;
 font-family: "Poppins", sans-serif;
}


.container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 margin: 80px;
}


.currency {
 display: flex;
 flex-direction: column;
 margin: 10px;
 background-color: #795e5e;
 border: 1px solid #ccc;
 border-radius: 5px;
 padding: 10px;
 width: 250px;
 
}

select, input {
 margin: 10px 0;
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
 width: 100%;
}

.swap-rate-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 20px;
}

.btn {
 background-color: #007bff;
 color: #fff;
 border: none;
 border-radius: 5px;
 padding: 10px 20px;
 cursor: pointer;
 transition: background-color 0.3s;
}

.btn:hover {
 background-color: #0056b3;
}

.rate {
 font-size: 24px;
 margin-top: 10px;
}

